<div class="user-table-container" [@flyIn]="'active'">
  <form class="form-vertical" role="form">
    <div class="row">
      <div class="col-sm-10">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="权限名称">
          <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i> 搜索</button>
                    </span>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="input-group pull-right">
          <button type="button" (click)="showDialog()" pButton icon="fa-external-link-square"
                  label="创建权限">
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-sm-12">
      <div class="user-item-container">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>序号</th>
            <th>权限名</th>
            <th>方法</th>
            <th>路由</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let permission of permissionArray; let i = index">
            <td>{{i+1}}</td>
            <td>{{permission.name}}</td>
            <td>{{permission.method}}</td>
            <td>{{permission.route}}</td>
            <td>
              <a [routerLink]="['/manage/usertable/edituser',1]"><i class="fa fa-pencil-square-o"
                                                                    aria-hidden="true"></i></a>
              <a href="javascript:void(0);" (click)="blockUser(1)"><i class="fa fa-lock" aria-hidden="true"></i></a>
              <a href="javascript:void(0);" (click)="unBlockUser(1)"><i class="fa fa-unlock" aria-hidden="true"></i></a>
              <a href="javascript:void(0);" (click)="resetPwd(1)"><i class="fa fa-user-secret"
                                                                     aria-hidden="true"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="display" modal="modal" [responsive]="true" width="600">
  <p-header>创建权限</p-header>
  <form [formGroup]="permissionForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="form-group" [ngClass]="{ 'has-error': formErrors.name}">
      <label class="col-sm-2 control-label">权限名：</label>
      <div class="col-sm-10">
        <input formControlName="name" type="text" class="form-control" placeholder="请输入权限名...">
        <div *ngIf="formErrors.name" class="text-danger">
          <span>{{formErrors.name}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': formErrors.method }">
      <label class="col-sm-2 control-label">方法：</label>
      <div class="col-sm-10">
        <input formControlName="method" type="text" class="form-control"
               placeholder="请输入方法名...">
        <div *ngIf="formErrors.method" class="text-danger">
          <span>{{formErrors.method}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':formErrors.route}">
      <label class="col-sm-2 control-label">路由：</label>
      <div class="col-sm-10">
        <input formControlName="route" type="text" class="form-control" placeholder="请输入路由...">
        <div *ngIf="formErrors.route" class="text-danger">
          <span>{{formErrors.route}}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" pButton icon="fa-check" [disabled]="!permissionForm.valid || hasSubmit"
                label="确定"></button>
        <button type="button" pButton icon="fa-close" (click)="display=false" label="取消"></button>
      </div>
    </div>
  </form>
</p-dialog>



