.DS_Store
node_modules/
typings/
npm-debug.log
*.env
.idea/
knexfile.js
src/client/dist/
src/server/app.js
src/server/auth/_helpers.js
src/server/auth/local.js
src/server/auth/passports.js
src/server/config/error-config.js
src/server/config/main-config.js
src/server/config/route-config.js
src/server/controllers/index.js
src/server/db/connection.js
src/server/db/entity/entity.js
src/server/db/seeds/.js
src/server/db/seeds/users.ts.js
src/server/routes/auth.js
src/server/routes/index.js
src/server/routes/user.js
src/server/server.js
test/integration/routes.index.test.js
test/unit/controllers.index.test.js

