<div [@flyIn]="'active'">
  <form class="form-vertical" role="form">
    <div class="row">
      <div class="col-sm-12">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="用户称">
          <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i> 搜索</button>
                    </span>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>序号</th>
          <th>用户名</th>
          <th>过期时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of usersArray; let i = index">
          <td>{{(userCurrentPage - 1) * itemsPerPage + i+1}}</td>
          <td>{{user.username}}</td>
          <td>{{user.expiry_date}}</td>
          <td>
            <button pButton type="button" label="删除" icon="fa-times" class="ui-button-danger"></button>
            <button pButton type="button" label="修改用户角色"
                    (click)="userRolesDialog(user.id)"
                    icon="fa-pencil-square-o"></button>
            <button pButton type="button" label="添加用户角色" icon="fa-plus"
                    (click)="userDonotHaveRolesDialog(user.id)"></button>
          </td>
        </tr>
        </tbody>
      </table>
      <p-paginator [rows]="itemsPerPage" [totalRecords]="rolesTotalCount"
                   (onPageChange)="usersPaginate($event)"></p-paginator>
    </div>
  </div>
</div>


<p-dialog [(visible)]="showUserRolesDialog" modal="modal" [responsive]="true" width="600">
  <p-header>用户所拥有角色列表</p-header>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>序号</th>
          <th>角色名</th>
          <th>描述</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let role of rolesArray; let i = index">
          <td>{{(userRolesCurrentPage - 1) * itemsPerPage + i+1}}</td>
          <td>{{role.name}}</td>
          <td>{{role.description}}</td>
          <td>
            <button pButton type="button" label="删除" class="ui-button-danger" icon="fa-times"></button>
          </td>
        </tr>
        </tbody>
      </table>
      <p-paginator [rows]="itemsPerPage" [totalRecords]="rolesTotalCount"
                   (onPageChange)="userRolesPaginate($event)"></p-paginator>
    </div>
  </div>
</p-dialog>

<p-dialog [(visible)]="showAddUserRolesDialog" modal="modal"
          [responsive]="true" width="600">
  <p-header>添加用户角色</p-header>
  <div class="row">
    <div class="col-sm-12">
      <p-dataTable [value]="doNotHaveRoleArray" [(selection)]="addUserRolesSelectionArray"
                   [paginator]="true"
                   [rows]="10" [pageLinks]="5" [headerCheckboxToggleAllPages]="true"
                   dataKey="created_datetime">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="name" header="角色名称"></p-column>
        <p-column field="description" header="描述"></p-column>
      </p-dataTable>
    </div>
  </div>
  <p-footer>
    <button type="button" (click)="addUserRolesSubmit(userId)" pButton icon="fa-check"
            [disabled]="addUserRolesSelectionArray.length === 0 || hasSubmit"
            label="确定"></button>
    <button type="button" pButton icon="fa-close" (click)="showAddUserRolesDialog=false" label="取消"></button>
  </p-footer>
</p-dialog>
